html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh; /* Garde le conteneur principal sur toute la hauteur */
  background-color: aliceblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
